.space {

}

.spaceX1 {
  height: 4px;
}

.spaceX2 {
  height: 8px;
}

.spaceX3 {
  height: 12px;
}

.spaceX4 {
  height: 16px;
}

.spaceX5 {
  height: 20px;
}

.spaceX6 {
  height: 24px;
}

.spaceX7 {
  height: 28px;
}

.spaceX8 {
  height: 32px;
}

.spaceX9 {
  height: 36px;
}

.spaceX10 {
  height: 40px;
}

.spaceX15 {
  height: 60px;
}

.spaceX20 {
  height: 80px;
}

.spaceX25 {
  height: 100px;
}

.spaceX30 {
  height: 120px;
}