.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  width: 33.3333%;
}

.navItem:first-child {
  text-align: left;
}

.navItem:last-child {
  text-align: right;
}